<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <targets>
    <target
      name="FirstTaskFile"
      xsi:type="File"
      layout="${longdate} | ${level} | ${message}"
      fileName="${basedir}/Logs/firstTask.txt"
      archiveAboveSize ="5000000"
      maxArchiveFiles="10"/>
    <target
      name="SecondTaskFile"
      xsi:type="File"
      layout="${longdate} | ${level} | ${message}"
      fileName="${basedir}/Logs/secondTask.txt"
      archiveAboveSize ="5000000"
      maxArchiveFiles="10"/>
    <target
      name="thirdTaskFile"
      xsi:type="File"
      layout="${longdate} | ${level} | ${message}"
      fileName="${basedir}/Logs/thirdTask.txt"
      archiveAboveSize ="5000000"
      maxArchiveFiles="10"/>
    <target
      name="BoothAvailabilityLogger"
      xsi:type="File"
      layout="${longdate} | ${level} | ${message}"
      fileName="${basedir}/Logs/BoothAvailabilityLog.txt"
      archiveAboveSize ="5000000"
      maxArchiveFiles="10"/>
    <target
      name="PrintTaskLogger"
      xsi:type="File"
      layout="${longdate} | ${level} | ${message}"
      fileName="${basedir}/Logs/PrintTaskLog.txt"
      archiveAboveSize ="5000000"
      maxArchiveFiles="10"/>
    <target
      name="ArchiveUploaderLogger"
      xsi:type="File"
      layout="${longdate} | ${level} | ${message}"
      fileName="${basedir}/Logs/ArchiveUploaderLog.txt"
      archiveAboveSize ="5000000"
      maxArchiveFiles="10"/>

  </targets>

  <rules>
    <logger name="firstTaskFile" minlevel="Trace" writeTo="firstTaskFile" />
    <logger name="secondTaskFile" minlevel="Trace" writeTo="secondTaskFile" />
    <logger name="thirdTaskFile" minlevel="Trace" writeTo="thirdTaskFile" />
    <logger name="BoothAvailabilityLogger" minlevel="Trace" writeTo="BoothAvailabilityLogger" />
    <logger name="PrintTaskLogger" minlevel="Trace" writeTo="PrintTaskLogger" />
    <logger name="ArchiveUploaderLogger" minlevel="Trace" writeTo="ArchiveUploaderLogger" />
  </rules>

</nlog>